@import './base/resets';
@import './base/typography';
@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/functions';

body {
    box-sizing: border-box;
    background-color: $bg1;
}

a {
    text-decoration: none;
    color: $text-color;
}

.main-container {
    @include flexbox();
    max-width: 480px;
    min-width: 280px;
    @include auto-margin;
}

@import './layout/header';
@import './pages/home';
@import './layout/footer';