@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/functions';


.location{
    @include flexbox();
    @include full-width();
    background-color: $bg2;
    height: 50px;

    &__icon {
        @include auto-margin;

        & .fa-map-marker-alt{
            margin-right: 12px;
        }

        & p {
            display: inline;
        }
    }
}

.section-1{
    @include full-width;
    text-align: center;
    @include alt-bg($bg1);

    &__title {
        padding: 0px 50px 0px 50px;
    }

    &__subtitle {
        padding: 0px 50px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 400;
        color: faded-text-color($text-color);
    }
    
    &__explore-btn p{
        display: inline-block;
        color: white;
        background-image: linear-gradient(map-get($accent-colors, "pink"), map-get($accent-colors, "violet")); 
        border-radius: 40px;
        padding: 15px 20px;
        margin: 10px 0px 50px 0px;
        @include box-shadow($color: map-get($accent-colors, "violet"));
    }
}

.section-2 {
    @include full-width;
    padding: $section-padding;

    &__tittle {
        margin: 35px 0px 20px 0px;
    }
}

.step-1 {
    @include steps-style;
    @include steps-counter-style;
    @include steps-content-style;
}

.step-2 {
    @include steps-style;
    @include steps-counter-style;
    @include steps-content-style;
}

.step-3 {
    @include steps-style;
    @include steps-counter-style;
    @include steps-content-style;

    &__content__icon {
        font-size: 30px;
        padding: 7% 7% 7% 10%;
        color: map-get($map: $accent-colors, $key: "violet");
    }
}

.section-3 {
    @include full-width;
    padding: $section-padding;
    @include alt-bg($bg1);
}

.cards {
    @include cards-style;
}
