.footer-container {
    width: 100%;
    min-width: 320px;
    background-color: $bg3;
}

.footer {
    @include flexbox();
    max-width: 480px;
    min-width: 320px;
    padding: $section-padding;
    @include auto-margin;

    &__logo {
        width: 100%;
        
        & svg {
            width: 120px;
            margin: 30px 0px 10px 0px;
        }
    }

    & a {
        width: 100%;
    }

    &__link--with-icon {
        @include flexbox();
        color: $bg1;
        width: 100%;
        margin: 5px 0px;

        & p {
            margin-left: 10px;
        }
    }

    &__link--no-icon {
        @include flexbox();
        color: $bg1;
        width: 100%;
        margin: 5px 0px;
    }
}
