.footer-container {
    width: 100%;
    min-width: 320px;
    background-color: $bg3;
    min-height: 150px;
}

.footer {
    @include flexbox();
    max-width: 992px;
    min-width: 320px;
    padding: $section-padding;
    @include auto-margin;

    @media only screen and (min-width: 780px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 100%;
        
        @media only screen and (min-width: 780px) {
            width:fit-content;
        }
        
        & svg {
            width: 120px;
            margin: 30px 0px 10px 0px;
        }
    }

    & a {
        width: 100%;

        @media only screen and (min-width: 780px) {
            width:fit-content;
        }
    }

    &__link--with-icon {
        @include flexbox();
        color: $bg1;
        width: 100%;
        margin: 5px 0px;

        & p {
            margin-left: 10px;
        }
    }

    &__link--no-icon {
        @include flexbox();
        color: $bg1;
        width: 100%;
        margin: 5px 0px;
    }
}
