.header-container {
    width: 100%;
    background-color: $bg1;
    @include box-shadow($bg2);
    z-index: 1;
}

header {
    max-width: 480px;
    min-width: 320px;
    margin: auto;
    padding: 25px 25px 15px 25px;
}

.header_logo {
    display: block;
    width: 140px;
    margin: auto;
}