.header-container {
    width: 100%;
    min-width: 320px;
    background-color: $bg1;
    @include box-shadow-2($bg2);
    position: relative;
    z-index: 2;
}

header {
    @include flexbox();
    justify-content: center;
    align-items: center;
    max-width: 480px;
    min-width: 320px;
    margin: auto;
    padding: 25px 25px 15px 25px;
    position: relative;

    .header__back-icon {
        color: faded-text-color($text-color);
        position: absolute;
        left: 20px;
    }

    .header__logo img{
        display: block;
        width: 140px;
        margin: auto;
    }
}
