@function faded-text-color($color) {
    @if (lightness($color) > 75% ){
        $color: darken($color, $amount: 40%);
    }
    @else {
        $color: lighten($color, $amount: 40%);
    }
    @return $color;
}

@function faded-text-color-2($color) {
    @if (lightness($color) > 75% ){
        $color: darken($color, $amount: 40%);
    }
    @else {
        $color: lighten($color, $amount: 35%);
    }
    @return $color;
}

@function lighten-btn-background() {
    $color1: map-get($accent-colors, "purl");
    $color1-light: lighten($color1, 5%);
    $color2: map-get($accent-colors, "viol");
    $color2-light: lighten($color2, 5%);
    $result: linear-gradient($color1-light, $color2-light);
    @return $result;
}