@import './variables';

@mixin base-styles {
    background-color: $bg1;
    * {
        box-sizing: border-box;
    }

    & a {
        text-decoration: none;
        color: $text-color;
    }
    
    & .main-container {
        @include flexbox();
        min-width: 320px;
        max-width: 992px;
        @include auto-margin;
        position: relative;
        z-index: 1;
    }
}

@mixin flexbox {
    display: flex;
    flex-flow: row wrap;
}

@mixin full-width {
    width: 100%;
}

@mixin auto-margin {
    margin: auto;
}

@mixin round-corners {
    border-radius: 30px;
}

@mixin box-shadow($color) {
    @if (lightness($color) > 75% ){
        box-shadow: 0px 5px 10px darken($color, $amount: 15%);
    }
    @else {
        box-shadow: 0px 5px 10px lighten($color, $amount: 20%);
    }
}

@mixin box-shadow-2($color) {
    @if (lightness($color) > 75% ){
        box-shadow: 0px 3px 2px darken($color, $amount: 10%);
    }
    @else {
        box-shadow: 0px 3px 2px lighten($color, $amount: 20%);
    }
}

@mixin alt-bg($color) {
    @if (lightness($color) > 75% ){
        background-color: darken($color, $amount: 3%);
    }
    @else {
        background-color: lighten($color, $amount: 10%);
    }
}

@mixin steps-style {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    @media only screen and (min-width: 780px) {
        width: 30%;
    }
}

@mixin steps-counter-style { 
    &__counter {
        position: absolute;
        left: -1%;

        & p {
            color: $bg1;
            font-size: 14px;
            padding: 5px 9px;
            background-color: map-get($map: $accent-colors, $key: "viol");
            @include round-corners();
        }
    }
}

@mixin steps-content-style {    
    &__content{
        display: flex;
        flex-flow: row nowrap;
        @include alt-bg($bg1);
        @include box-shadow($bg1);
        @include round-corners();
        width: 97%;
        height: 88px;
        margin: 15px 0px 15px auto;
        justify-content: start;
        align-items: center;


        &__icon, &__text {
            color: faded-text-color($text-color);
        }

        &__icon {
            font-size: 25px;
            padding: 30px 7% 30px 10%;

            & i {
                font-size: 25px;
            }
        }  
    }

}

@mixin cards-style {
    @include full-width;
    @include box-shadow($bg1);
    background-color: $bg1;
    border-radius: 20px 0px 20px 20px;
    margin: 18px 0px;
    position: relative;

    @media only screen and (min-width: 780px) {
        width: 48%;
    }

    &__image {
        width: 100%;

        & img {
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }

    &__new-tag {
        @include tag-style
    }

    &__description {
        @include flexbox();
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;

        & a div p {
            color: faded-text-color($text-color);
            margin-top: 5px;
        }

        &__save-icon {
            @include save-icon-style();
            @include save-icon-style-animation();
        }


    }    
}

@mixin tag-style{
    color: darken($color: map-get($accent-colors, turq), $amount: 40%);
    background-color: map-get($map: $accent-colors, $key: turq);
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2px;

    & p {
        padding: 5px 25px;
        text-align: center;
    }
}

@mixin course-style {
    width: 100%;
    color: faded-text-color($text-color);
    margin: 10px 0px;
    
    & h3 {
        margin: 10px 0px;
    }

    &__underline {
        height: 4px;
        width: 45px;
        background-color: map-get($accent-colors, turq);
    }
}

@mixin plate-card {
    background-color: $bg1;
    width: 100%;
    margin: 10px auto;
    height: 70px;
    border-radius: 15px;
    @include box-shadow($bg1);
    @include flexbox();
    flex-wrap: nowrap;
    align-items: center;


    @media only screen and (min-width: 780px) {
        min-height: 100px;
    }

    &__content{
        width: 100%;
        padding: 15px;

        &__title {
            margin-bottom: 4px;
            
            & h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        &__description {
            @include flexbox();
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            &__text {
                color: faded-text-color($text-color);
                min-width: 0%;
            }

            &__text p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &__price {
                margin-left: 10px;
            }
        }    
    }

    &__checkbox {
        height: 70px;
        width: 15%;
        background-color: map-get($accent-colors, turq);
        border-radius: 0px 15px 15px 0px;
        display: none;

        @media only screen and (min-width: 780px) {
            min-height: 100px;
        }

        & i {
            color: $bg1;
        }
    } 
    
    &:hover {
        .plate-card__content {
            width: 85%;
            @include checked-card-content-animation;
        }
    
        .plate-card__checkbox {
            @include flexbox();
            justify-content: center;
            align-items: center;     
            @include checkbox-animation();   
        }
    }
}

@mixin call-to-action-button {
    width: 162px;
    display: inline-block;
    color: white;
    background-image: $gradient1; 
    border-radius: 40px;
    padding: 15px 20px;
    margin: 10px 0px 50px 0px;
    text-align: center;
    @include box-shadow($color: map-get($accent-colors, "viol"));

    &:hover {
        background-image: lighten-btn-background();
        box-shadow: 0px 5px 10px lighten(map-get($accent-colors, "viol"), 8%);
    }
}

@mixin save-icon-style {
    font-size: 20px;
    color: faded-text-color($text-color);
    position: relative;
    height: 21px;
    width: 20px;

    &--empty {
        position: absolute;
        top: 0px;
        right: 0px;
    }


    &--filled {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        color: map-get($map: $accent-colors, $key: viol);
    } 
}

@mixin save-icon-style-animation {

    &:hover {
        & :nth-child(1) {
            display: none;
        }
    
        & :nth-child(2) {
            display: block;
            animation: heart-bounce 0.2s cubic-bezier(0.55,-0.24, 0.28, 1.25) forwards;
            transform-origin: bottom;
        
            @keyframes heart-bounce {
                from {
                    transform: scale3d(1.5, 0.5, 1) translate3d(0, -10px, 0);
                }
                to{
                    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
                }
            }
        }
    } 
    
    @media screen and (min-width: 768px) {
        &:hover {
            & :nth-child(1) {
                display: block;
            }

            & :nth-child(2) {
                display: none;
                animation: none;
            }
        }

        &:active{
            & :nth-child(1) {
                display: none;
            }
        
            & :nth-child(2) {
                display: block;
                animation: heart-bounce 0.2s cubic-bezier(0.55,-0.24, 0.28, 1.25) forwards;
                transform-origin: bottom;
            
                @keyframes heart-bounce {
                    from {
                        transform: scale3d(1.5, 0.5, 1) translate3d(0, -10px, 0);
                    }
                    to{
                        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
                    }
                }
            }
        }
    }
}

@mixin loader {
    .loader {

        &__container {
            background-color: $bg1;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 3;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            animation: loader-fade-out 3s ease-in 1 normal forwards;
        
            @keyframes loader-fade-out {
                50% {
                    opacity: 100%;
                    z-index: 3;

                }
                75% {
                    opacity: 0%;
                    z-index: 3;
                }
                100% {
                    opacity: 0%;
                    z-index: -1;
                }
            }
    
            & div {
                background-color: map-get($accent-colors, viol);
                width: 8px;
                height: 8px;
                margin: 4px;
                border-radius: 50%;
                animation: bounce 0.6s ease-in-out infinite alternate;
            }
    
            & :nth-child(1) {
                background-color: map-get($accent-colors , purl);
                animation-delay: 0.50s;
            }
    
            & :nth-child(2) {
                background-color: map-get($accent-colors , turq);
                animation-delay: 0.25s;
            }
    
            @keyframes bounce {
                from {
                    opacity: 0%;
                    transform: translate3d(0, 0, 0);
                }
    
                to {
                    opacity: 100%;
                    transform: translate3d(0, -35px, 0);
                }
            }
        }
    }
}

@mixin card-animation {
    animation: slide-and-fadein 0.5s cubic-bezier(0, 0.01, 0.31, 1) both; 

    @keyframes slide-and-fadein {
        from {
            transform: translate3d(0, 10px, 0);
            opacity: 0%;
        }
        to {
            transform: translate3d(0, 0px, 0);
            opacity: 100%;
        }
    }

    &__content {
        &__title {
            animation: slide-and-fadein 0.5s cubic-bezier(0, 0.01, 0.31, 1) both; 
            animation-delay: 0.2s;
        }

        &__description{
            animation: slide-and-fadein 0.5s cubic-bezier(0, 0.01, 0.31, 1) both; 
            animation-delay: 0.4s;
        }
    }

    &:nth-child(4) {
        animation-delay: 0.6s;
    }

    &:nth-child(5) {
        animation-delay: 0.8s;
    }

    &:nth-child(7) {
        animation-delay: 1s;
    }

    &:nth-child(8) {
        animation-delay: 1.2s;
    }

    &:nth-child(9) {
        animation-delay: 1.4s;
    }

    &:nth-child(11) {
        animation-delay: 1.6s;
    }

    &:nth-child(12) {
        animation-delay: 1.8s;
    }

    &:nth-child(13) {
        animation-delay: 2s;
    }
}

@mixin checked-card-content-animation {
    animation: slide-in-content 0.4s ease-out both;
    transform-origin: left center 0;


    @keyframes slide-in-content {
        from {
            width: 100%;
        }
        
        to {
            width: 85%;
        }
    }
}

@mixin checkbox-animation {
    animation: slide-in-checkbox 0.4s ease-out both;
    transform-origin: right center 0;
    
    @keyframes slide-in-checkbox {
        from {
            width: 0%;
        }
        to {
            width: 15%;
        }
    }

    & i {
        animation: rotate-checkbox 0.4s ease-out both;

        @keyframes rotate-checkbox {
            from {
                transform: rotate3d(0,0,1,-360deg);
            }
            to {
                transform: rotate3d(0,0,1,0deg);
            }
        }
    }
}