@import './variables';

@mixin flexbox {
    display: flex;
    flex-flow: row wrap;
}

@mixin full-width {
    width: 100%;
}

@mixin auto-margin {
    margin: auto;
}

@mixin round-corners {
    border-radius: 30px;
}

@mixin box-shadow($color) {
    @if (lightness($color) > 75% ){
        box-shadow: 0px 5px 10px darken($color, $amount: 15%);
    }
    @else {
        box-shadow: 0px 5px 10px lighten($color, $amount: 20%);
    }
}

@mixin alt-bg($color) {
    @if (lightness($color) > 75% ){
        background-color: darken($color, $amount: 3%);
    }
    @else {
        background-color: lighten($color, $amount: 10%);
    }
}

@mixin steps-style {
    @include full-width;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

@mixin steps-counter-style { 
    &__counter {
        position: absolute;
        left: -1%;
        & p {
            color: $bg1;
            font-size: 14px;
            padding: 5px 9px;
            background-color: map-get($map: $accent-colors, $key: "violet");
            @include round-corners();
        }
    }
}

@mixin steps-content-style {    
    &__content{
        display: flex;
        flex-flow: row nowrap;
        @include alt-bg($bg1);
        @include box-shadow($bg1);
        @include round-corners();
        width: 97%;
        margin: 15px 0px 15px auto;
        justify-content: start;
        align-items: center;


        &__icon, &__text {
            color: faded-text-color($text-color);
        }

        &__icon {
            font-size: 25px;
            padding: 7% 7% 7% 10%;
        }  
    }

}

@mixin cards-style {
    @include full-width;
    @include box-shadow($bg1)
    background-color: $bg1;
    border-radius: 20px 0px 20px 20px;
    margin: 18px 0px;

    &__image {
        width: 100%;

        & img {
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }

    &__description {
        @include flexbox();
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;

        & a div p {
            color: faded-text-color($text-color);
            margin-top: 5px;
        }

        &__icon {
            font-size: 20px;
            color: faded-text-color($text-color);
        }
    }    
}

@mixin plate-card {
    background-color: $bg1;
    width: 100%;
    margin: 15px auto;
    border-radius: 15px;
    @include box-shadow($bg1);
    @include flexbox();
    align-items: center;

    &__content{
        width: 100%;
        padding: 10px;

        &__description {
            @include flexbox();
            justify-content: space-between;
            align-items: center;
            
            &__text {
                color: faded-text-color($text-color);
            }
        }    
    }

    &__content:hover {
        width: 85%;
    }

    &__checkbox {
        display: none;

        & i {
            display: none;
        }
    }

    &__checkbox:hover {
        height: 55px;
        width: 15%;
        background-color: map-get($accent-colors, turq);
        border-radius: 0px 15px 15px 0px;
        @include flexbox();
        justify-content: center;
        align-items: center;

        & i {
            color: $bg1;
        }
    }        
}

@mixin call-to-action-button {
    width: 162px;
    display: inline-block;
    color: white;
    background-image: linear-gradient(map-get($accent-colors, "pink"), map-get($accent-colors, "violet")); 
    border-radius: 40px;
    padding: 15px 20px;
    margin: 10px 0px 50px 0px;
    text-align: center;
    @include box-shadow($color: map-get($accent-colors, "violet"));
}

@mixin course-style {
    width: 100%;
    color: faded-text-color($text-color);
    
    & h3 {
        margin: 10px 0px;
    }

    &__underline {
        height: 4px;
        width: 45px;
        background-color: map-get($accent-colors, turq);
    }
}