@import './variables';

@mixin flexbox {
    display: flex;
    flex-flow: row wrap;
}

@mixin full-width {
    width: 100%;
}

@mixin auto-margin {
    margin: auto;
}

@mixin round-corners {
    border-radius: 30px;
}

@mixin box-shadow($color) {
    @if (lightness($color) > 75% ){
        box-shadow: 0px 5px 10px darken($color, $amount: 15%);
    }
    @else {
        box-shadow: 0px 5px 10px lighten($color, $amount: 20%);
    }
}

@mixin alt-bg($color) {
    @if (lightness($color) > 75% ){
        background-color: darken($color, $amount: 3%);
    }
    @else {
        background-color: lighten($color, $amount: 10%);
    }
}

@mixin steps-style {
    @include full-width;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

@mixin steps-counter-style { 
    &_counter {
        position: absolute;
        left: -1%;
        & p {
            color: $bg1;
            font-size: 14px;
            padding: 5px 9px;
            background-color: map-get($map: $accent-colors, $key: "violet");
            @include round-corners();
        }
    }
}

@mixin steps-content-style {    
    &_content{
        display: flex;
        flex-flow: row nowrap;
        @include alt-bg($bg1);
        @include box-shadow($bg1);
        @include round-corners();
        width: 97%;
        margin: 15px 0px 15px auto;
        justify-content: start;
        align-items: center;


        &_icon, &_text {
            color: faded-text-color($text-color);
        }

        &_icon {
            font-size: 25px;
            padding: 7% 7% 7% 10%;
        }  
    }

}

@mixin cards-style {
    @include full-width;
    @include box-shadow($bg1)
    background-color: $bg1;
    border-radius: 0px 0px 20px 20px;
    margin: 18px 0px;

    &_image {
        width: 100%;

        & img {
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }

    &_description {
        @include flexbox();
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;

        & a div p {
            color: faded-text-color($text-color);
            margin-top: 5px;
        }

        &_icon {
            font-size: 20px;
            color: faded-text-color($text-color);
        }
    }    
}