$accent-colors: (
    "viol": #9356dc,
    "purl": #FF79DA,
    "turq": #99E2D0,
);

$gradient1: linear-gradient(map-get($accent-colors, "purl"), map-get($accent-colors, "viol"));

$purl: #FF79DA;

$bg1: #FFFFFF;
$bg2: #EAEAEA;
$bg3: #353535;

$text-color: black;

$section-padding: 0px 25px 40px 25px;